* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #4c1d95,
    #6d28d9,
    #8b5cf6
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.card h1 {
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  outline: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 15px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #9333ea;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #7e22ce;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.98);
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: rgba(255, 255, 255, 0.12);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.data-buttons {
  display: flex;
  gap: 10px;
}

.data-buttons button {
  flex: 1;
}
.card2{
    width: 420px;
  background: #9FA1FF;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}
/* button 2 k lye */
.button2{
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #4F46E5;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.button2:hover {
  background: #9f61d6;
  transform: translateY(-2px);
}

.button2:active {
  transform: scale(0.98);
}